.section-title {
    font-style: italic;
    font-family: cursive;
}

.section-main-con {
    padding: 20px;
}

.section-body {
    display: flex;
    flex-wrap: nowrap;
}

.date-range-con {
    width: 23%;
    min-width: 23%;
    max-width: 23%;
}

.section-detail {
    width: 77%;
    min-width: 77%;
    max-width: 77%;
}

.section-detail>p {
    padding-left: 5px;
}

h2 {
    margin: 0;
}

p {
    margin-bottom: 0;
    margin-top: 5px;
}